---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
import ViewCount from '../components/ViewCount.astro';
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Projects</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">MDX Page</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">Markdown Page</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Accessible Components</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/Projects/">Contact/Info</a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon pack="ion" name="logo-github" />
      </a>
    </li>
  </Navigation>
  <ViewCount></ViewCount>
  <div class="view-counter">
    Views: <span id="viewCount">Loading...</span>
  </div>
</header>
<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
    .view-counter {
    font-family: 'Courier New', monospace; // Digital-style font
    color: #a020f0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px; // Adjust as per your layout

    // Optional: LED-like effect
    text-shadow:
      0 0 5px #a020f0,   // Light purple glow
      0 0 10px #a020f0,  // Medium purple glow
      0 0 20px #a020f0,  // Strong purple glow
      0 0 40px #a020f0;  // Intense purple glow
    }
    }
</style>

